# Data Clean Up

Libraries

In [1]:
import pandas as pd
import pandas_datareader.data as web
import yfinance as yf
import datetime
import numpy as np
import xlwings as xw
from pathlib import Path
import fred_functions as ff
import index_prices as ip

### ETF Daily Returns

Import ETF file

In [2]:
df_prices = pd.read_excel('../df_returns.xlsx',index_col=0,sheet_name='Sheet1')

Select "SPY" and "VBMFX". SPY inception was in 1993 while VBMFX was started in 1986. The data set will cover dates from February 1, 1993 to September 30, 2025

In [3]:
df_prices = df_prices[['SPY','VBMFX']] # select tickets
# df = df.loc['1993-02-01':'2025-09-30'] # filter for dates
df_prices.index = pd.to_datetime(df_prices.index)
df_prices = df_prices.sort_index() # sorting
df_prices = df_prices.resample("ME").last().dropna(how='all') # get the month end data, dropnas
df_simple_returns = df_prices.pct_change().dropna(how='all') # find the percent change from the prev month, dropnas

In [4]:
df_prices.tail(10)

                   SPY     VBMFX
Date
2024-12-31  580.989136  9.244178
2025-01-31  596.592407  9.302749
2025-02-28  589.018799  9.496627
2025-03-31  556.199158  9.497769
2025-04-30  551.376831  9.537200
2025-05-31  586.028076  9.469241
2025-06-30  616.141785  9.618033
2025-07-31  630.332458  9.589318
2025-08-31  643.266602  9.700000
2025-09-30  666.179993  9.770000

In [5]:
df_simple_returns.tail(10)

                 SPY     VBMFX
Date
2024-12-31 -0.024060 -0.017559
2025-01-31  0.026856  0.006336
2025-02-28 -0.012695  0.020841
2025-03-31 -0.055719  0.000120
2025-04-30 -0.008670  0.004152
2025-05-31  0.062845 -0.007126
2025-06-30  0.051386  0.015713
2025-07-31  0.023032 -0.002986
2025-08-31  0.020520  0.011542
2025-09-30  0.035620  0.007217

In [7]:
ip.ln_return(df_simple_returns,["SPY","VBMFX"])

(                 SPY     VBMFX
 Date
 1987-01-31       NaN  0.012934
 1987-02-28       NaN  0.005460
 1987-03-31       NaN -0.006457
 1987-04-30       NaN -0.032367
 1987-05-31       NaN -0.003978
 ...              ...       ...
 2025-05-31  0.060949 -0.007151
 2025-06-30  0.050109  0.015591
 2025-07-31  0.022770 -0.002990
 2025-08-31  0.020312  0.011476
 2025-09-30  0.035001  0.007191

 [465 rows x 2 columns],
                  SPY     VBMFX
 Date
 1987-01-31       NaN       NaN
 1987-02-28       NaN       NaN
 1987-03-31       NaN  0.047745
 1987-04-30       NaN -0.133458
 1987-05-31       NaN -0.171209
 ...              ...       ...
 2025-05-31 -0.020362 -0.011552
 2025-06-30  0.409403  0.050331
 2025-07-31  0.535316  0.021799
 2025-08-31  0.372766  0.096308
 2025-09-30  0.312331  0.062707

 [465 rows x 2 columns])

In [ ]:
ip.cummulative_return(df_simple_returns,["SPY","VBMFX"],rolling_value=3,comp_freq=4)

                 SPY     VBMFX    SPY_3m  SPY_3m_ann  VBMFX_3m  VBMFX_3m_ann
Date
1987-01-31       NaN  0.013018       NaN         NaN       NaN           NaN
1987-02-28       NaN  0.005475       NaN         NaN       NaN           NaN
1987-03-31       NaN -0.006437       NaN         NaN  0.012008      0.048904
1987-04-30       NaN -0.031849       NaN         NaN -0.032814     -0.124936
1987-05-31       NaN -0.003970       NaN         NaN -0.041899     -0.157354
...              ...       ...       ...         ...       ...           ...
2025-05-31  0.062845 -0.007126 -0.005077   -0.020156 -0.002884     -0.011485
2025-06-30  0.051386  0.015713  0.107772    0.505918  0.012662      0.051620
2025-07-31  0.023032 -0.002986  0.143197    0.707987  0.005465      0.022039
2025-08-31  0.020520  0.011542  0.097672    0.451745  0.024369      0.101099
2025-09-30  0.035620  0.007217  0.081212    0.366607  0.015800      0.064715

[465 rows x 6 columns]

## Macro Indicators (FRED)

import macro File

In [ ]:
df_macro = pd.read_excel('../df_macro.xlsx',index_col=0,sheet_name='Sheet1')
# df_macro = df_macro.loc['1990-01-01':'2025-09-30'] # filter for dates

### GDP Data Preprocessing

To prepare quarterly GDP data for our model, we perform a two-step process to handle its frequency and reporting lag:

1.  **Resample to Monthly Frequency:** Since GDP is released **quarterly**, we first resample it to a monthly series. This is done using a **forward-fill** (`ffill`) method, where the GDP value for a given quarter is applied to each month within that quarter. For example, the Q1 GDP value is used for January, February, and March.

2.  **Simulate Reporting Lag:** In practice, GDP figures are not known in real-time (e.g., January's final GDP might not be available until April). To simulate this delay and prevent lookahead bias, we **shift** the resampled monthly data forward. We will create four lagged features: a 1-month lag ,2-month lag, 3-month lag, and a 4-month lag.

In [ ]:
df_gdp = ff.forward_fill(df_macro[['RealGDP']].copy())
df_gdp = ff.resample_me(df_gdp)
df_gdp = ff.yoy_change(df_gdp)
df_gdp_lag1 = ff.shift_lag(df_gdp,lag_months=1).rename(columns={"RealGDP":"RealGDP_1m"})
df_gdp_lag2 = ff.shift_lag(df_gdp,lag_months=2).rename(columns={"RealGDP":"RealGDP_2m"})
df_gdp_lag3 = ff.shift_lag(df_gdp,lag_months=3).rename(columns={"RealGDP":"RealGDP_3m"})
df_gdp_lag4 = ff.shift_lag(df_gdp,lag_months=4).rename(columns={"RealGDP":"RealGDP_4m"})
df_gdp_clean = df_gdp.join([df_gdp_lag1, df_gdp_lag2,df_gdp_lag3,df_gdp_lag4], how='inner')

### Permits, CPI, CoreCPI, IndustrialProd, RealRetail

In [ ]:
indicator_index_cols = ['Permits','CPI','CoreCPI','IndustrialProd','RealRetail'] # select columns to update
df_indicator_index = df_macro[indicator_index_cols].copy() # make a copy
df_indicator_index = ff.resample_me(df_indicator_index) # get month-end indices
df_lag1_indicator_index = ff.shift_lag(df_indicator_index,lag_months=1) #shift by 1 to account for information lag
# dictionary to rename original numbers to "_lag1"
col_rename_indicator_index = {
    'Permits':'Permits_1m',
    'CPI':'CPI_1m',
    'CoreCPI':'CoreCPI_1m',
    'IndustrialProd':'IndustrialProd_1m',
    'RealRetail':'RealRetail_1m'
}
col_rename_yoy = {
    'Permits_1m':'Permits_1m_yoy',
    'CPI_1m':'CPI_1m_yoy',
    'CoreCPI_1m':'CoreCPI_1m_yoy',
    'IndustrialProd_1m':'IndustrialProd_1m_yoy',
    'RealRetail_1m':'RealRetail_1m_yoy'
}
ff.rename_columns(df_lag1_indicator_index,col_rename_indicator_index) #ff to rename columns using the dict above
df_indicator_yoy = ff.yoy_change(df_lag1_indicator_index) # ff for year over year change
ff.rename_columns(df_indicator_yoy,col_rename_yoy) # rename yoy columns
df_indicator_mom = ff.mom_change(df_lag1_indicator_index) ## ff for month-over-month change
df_indicator_mom = ff.rolling_3m(df_indicator_mom,df_indicator_mom.columns) # ff to calculate 3month rolling avg, and also annualized 3month rolling avg
df_indicator_clean = df_indicator_index.join([df_indicator_yoy,df_indicator_mom], how='inner')

### Unemployment

In [ ]:
df_unemployment = df_macro[["UnemploymentRate"]].copy()
df_unemployment = ff.forward_fill(df_unemployment)
df_unemployment = ff.resample_me(df_unemployment)
df_unemployment_1m = ff.shift_lag(df_unemployment,lag_months=1)
df_unemployment_1m = ff.mom_change(df_unemployment_1m)
df_unemployment_clean = ff.rolling_3m(df_unemployment_1m,df_unemployment_1m.columns)

###

### Rates - Mortgage 30 Year, US 10 YR Treasury, US 2 Year Treasury, US 3 Month Treasury, TIPS10 YR, CorpBAA, CorpAAA, FedFunsRate

In [ ]:
df_rate_clean = ff.credit_spread(df_macro,lag_months=0,delta_calc=True)
col_remove = ['Mort30Y', 'UST10Y', 'UST2Y', 'UST3M','TIPS10Y', 'CorpBAA', 'CorpAAA','FedFundsRate']
df_rate_clean.drop(columns=col_remove,inplace=True)
df_rate_clean

,Slope_10Y_2Y,Slope_10Y_3M,Slope_10Y_FF,BAA_minus_10Y,AAA_minus_10Y,BAA_minus_AAA,Mort30Y_Delta1m,UST10Y_Delta1m,UST2Y_Delta1m,UST3M_Delta1m,...,TIPS10Y_Delta3m,CorpBAA_Delta3m,CorpAAA_Delta3m,FedFundsRate_Delta3m,Slope_10Y_2Y_Delta3m,Slope_10Y_3M_Delta3m,Slope_10Y_FF_Delta3m,BAA_minus_10Y_Delta3m,AAA_minus_10Y_Delta3m,BAA_minus_AAA_Delta3m
DATE,,,,,,,,,,,,,,,,,,,,,
1985-01-31,1.27,2.84,2.44,NaN,0.65,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985-02-28,1.25,3.10,3.17,NaN,0.65,NaN,-0.02,0.74,0.76,0.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985-03-31,1.22,3.18,3.07,NaN,0.77,NaN,0.35,-0.26,-0.23,-0.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985-04-30,1.50,3.29,2.83,NaN,0.77,NaN,-0.17,-0.24,-0.52,-0.35,...,NaN,NaN,0.36,-0.15,0.23,0.45,0.39,NaN,0.12,NaN
1985-05-31,1.36,2.90,2.64,NaN,0.89,NaN,-0.41,-1.13,-0.99,-0.74,...,NaN,NaN,-1.39,-1.10,0.11,-0.20,-0.53,NaN,0.24,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,0.52,-0.17,-0.09,1.75,1.10,0.65,-0.12,-0.17,-0.17,0.05,...,0.10,0.00,0.03,0.00,0.18,-0.08,0.01,-0.01,0.02,-0.03
2025-07-31,0.43,-0.04,0.04,1.67,1.04,0.63,-0.05,0.13,0.22,0.00,...,0.04,-0.09,0.03,0.00,-0.14,0.10,0.20,-0.29,-0.17,-0.12
2025-08-31,0.64,0.00,-0.10,1.80,1.19,0.61,-0.16,-0.14,-0.35,-0.18,...,-0.25,-0.22,-0.09,0.00,0.12,-0.05,-0.18,-0.04,0.09,-0.13
2025-09-30,0.56,0.14,0.07,1.67,1.06,0.61,-0.26,-0.07,0.01,-0.21,...,-0.15,-0.16,-0.12,-0.24,0.04,0.31,0.16,-0.08,-0.04,-0.04
2025-10-31,0.57,0.11,0.03,1.69,1.07,0.62,NaN,-0.04,-0.05,-0.01,...,-0.21,-0.23,-0.22,-0.24,0.14,0.15,-0.01,0.02,0.03,-0.01

In [ ]:
df_macro

,RealGDP,UnemploymentRate,Permits,CPI,CoreCPI,IndustrialProd,RealRetail,Mort30Y,UST10Y,UST2Y,UST3M,TIPS10Y,CorpBAA,CorpAAA,CorpTotRetIndex,FedFundsRate
DATE,,,,,,,,,,,,,,,,
1985-01-01,8400.82,7.3,1660.0,105.7,107.1,54.527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.74
1985-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.70,10.03,8.10,NaN,NaN,12.24,NaN,9.37
1985-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.62,10.06,8.07,NaN,NaN,12.21,NaN,8.77
1985-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.1,11.67,10.08,8.08,NaN,NaN,12.25,NaN,8.18
1985-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-09-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.09
2025-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.09
2025-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.15,3.63,4.04,1.80,5.79,5.19,3562.14,4.09
2025-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.16,3.60,4.02,1.80,5.83,5.22,3559.85,4.09
2025-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.12,3.55,4.01,1.77,5.81,5.19,3568.61,4.09